

* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: 'Lato', sans-serif !important;

}
body {
  background-color:  #4ae;
  font-family: Arial;

}
.wrapper {
  min-height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
 .push {
  height: 100px; /* '.push' must be the same height as 'footer' */

  a {
  }
}
footer {
  height:100px;
  background-color:#27658E;
  opacity: 0.7;
  padding-top:8px;
  margin-bottom: 10px;
  a {
    color:white;
    margin-top:auto;
    margin-bottom:auto;
  }
}
.checkout-total {
  font-size:30px;
}
.loading-message {
    margin-top: 30px;
}
.dots-loader:not(:required) {
  margin-top:100px;
  left:50%;
}
.container {
  margin:25px;
  background-color:#fff;
  min-height:450px;
  padding:30px;
  padding-bottom: 25px;
}
.results-container {
  padding-left: 15px;
}
button, .button, input[type=submit] {
  padding:0.5em;
  border-radius:4px;
}
h2.cart-head {
  display: inline-block;
}
div.fixed {
  border-bottom:2px solid #4ae;
}
input[value="Add To Cart"] {
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
}
li {
  font-family: 'Lato', sans-serif !important;
  list-style: none;
}
li.products {
  max-height: 120px;
  margin-top:15px;
  input {
    border-radius:4px;

  }
  input:hover{
    background:  #6d7;
  }
  max-width: 130px;
  display:inline-block;
  h4 {
    line-height: 20px;
    font-weight: bold;
    color:#008CBA;
    font-size:15px;
  }
}
h2 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 700;
}
.top-bar .name h1 a {
  color:black;
  font-family: 'Lato', sans-serif !important;
  font-weight: 700;
}
.top-bar {
  background-color: white;
}
.top-bar.expanded .title-area {
  background-color: white;
}
.top-bar-section   ul li.has-form:hover {
  background: white !important;
}

.top-bar-section   ul li.has-form  {
  input[type=text]:hover {background: white !important;}
  form:hover {background: white !important;}
  div:hover {background: white !important;}
}
.btn-google {
  width:200px;
  background-color: #DD4B39;
}
.top-bar-section ul li {
  background: white;
  a {
    color:black;
    font-family: 'Lato', sans-serif !important;
  }
  :hover {
    background: #f86 !important;
  }

}
.total { font-size: 25px;
line-height: 60px;}
.checkout {
  line-height: 60px;
  padding-bottom:0.1em;
  padding-top:0.1em;

}
.button.alert {
  background: #4ae;
  font-weight: bold;
}
.button.alert:hover{
  background: #f86;
}
.top-bar .toggle-topbar a {
  color:black;
  font-family: 'Lato', sans-serif !important;
}
a.green-button {
  background: #6d7;
  max-width:180px;

}
a.green-button:hover {
    background-color: #f86;
    color:white;
  }
input.button.remove:hover {
background: #f86;
}
.top-bar-section ul.dropdown li a:hover:not(.button) {
  background: #f86;
}
.top-bar-section ul.dropdown li a:not(.button) {
 background:#4ae;
}
.top-bar-section li a:not(.button):hover  {
  background: #f86;
}
.cart-total {
  background: #f86;
  color:white;
  padding:3px;
  border-radius:3px;
  margin-left: 4px;
}
@media only screen and (min-width: 40.0625em) {
 
  .top-bar-section .has-form {
    background: white;

  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background:white;

  }
}
@media only screen and (max-width: 40.0625em) {
  .green-button {
    margin-top: 5px;
  }
.checkout-total {
  font-size:20px;  
}
.button {
 font-size:10px;
 }

  .total { font-size: 14px;}


h2{
 font-size: 18px !important;
 line-height: 60px;
}
}