<footer>
<div class="row">
  <div class="small-8 columns">
  <a href="http://evanjmg.com" style="float:left;">&copy; 2015 Evan Gillogley - this site is fake <br/> You cannot buy Groceries on It</a> 
  </div>
  <div class="small-4 columns">
    <a href="http://www.tesco.com/" style="float:right">Powered by Tesco</a>
  </div>
  </div>
</footer>