<footer>
<div class="row">
  <div class="small-6 columns">
  <a href="http://evanjmg.com" style="float:left;">&copy; 2015 Evan Gillogley</a>
  </div>
  <div class="small-6 columns">
    <a href="http://www.tesco.com/" style="float:right">Powered by Tesco</a>
  </div>
  </div>
</footer>