<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>eGrocery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/animate.css">

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/js/ajax.js"></script>
</head>
<body>
<% include shared/nav %>
<div class="wrapper">
<div class="container">

  <%- body %>
  </div>
  <div class="push"></div>
  </div>
  <% include shared/footer %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script>
     $(document).foundation();
   </script>
</body>
</html>