<h2>We Received Your Order</h2>
<p>
 Just kidding, it's fake. Don't worry, you haven't been charged.
</p>
<div class="row">
    <div style="height:5px;border:5px solid #4ae ; background-color:#4ae;margin-top:20px;margin-bottom:20px;" /></div>
    <div class="row"><form action="/search/" method="post">
      <div class="large-8 small-7 columns">

        <input type="text" name="query" placeholder="Find Food">
      </div>
      <div class="large-4 small-5 columns">
        <input type="submit" class="alert button expand animated pulse" value="Search">
      </div>
    </form>
  </div>
</div>