<h2>Sign Up</h2>
<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>
<form action="/users" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" autofocus>
  <label for="email">Email: </label>
  <input type="text" name="email">
  <label for="password">Password: </label>
  <input type="password"  name="password">

  
  <input type="submit" value="Signup" class="button">
</form>