<form action="/products/<%= product.id %>" method= "post">
  <label for="name">Name: </label>
  <input type="text" name="name" autofocus value="<%= product.name %>">
  <label for="price">Price: </label>
  <input type="text" name="price" value="<%= product.price %>">
  <label for="description">Description:</label>
  <input type="text" name="description" value="<%= product.description %>">
  <input type="submit" value="Update Product">
</form>