<h2><%= product.name %></h2>

<p>
  <img src="<%= product.image %>" width="250" alt="">
</p>
<p>
  £<%= product.price %>
</p>
<p>
  <%= product.description %>
</p>
<a href="/products">See all Products</a>